*.pyc
*.pyo

*.DS_store
*.json

*.ipynb_checkpoints
*.ipynb

#notes and things
/extra/
/__pycache__/
/.vscode/
*.jpg
presentation.md

#error logs
log.txt
log-*.txt
errors.txt
download_log
errors-*.txt

#node files
/node_modules/

#images for storage
app/static/img