@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Lato');

@sans-serif:'Lato', 'Arial','Helvetica', sans-serif;;
@serif:'Nanum Gothic Coding', 'Georgia', serif;;
@special:;

@light:#eee;
@mid: #555;
@highlight: #E5B769;
@highlight-2: #e6e5e2;
@bold: #D84727;
@body: #342E37;

body {
    background-color:@light;
    transition: all 2s ease;
}

/* LAYOUT */

.flex-container {
    display: flex;
    flex-flow: column;
    padding:1em;
    align-items: center;
  }

.flex-item {
    padding: 1%;
    margin:1%;

    display:flex;
    flex-flow:column;
    align-items:center;

    transition: height 2s ease;

    img {
        width:100%;
        height:auto;
    }
  }

.top {
    margin-top:5em;
}

.intro {
    max-width:800px;

    h2{
        line-height:2em;
        font-family:@sans-serif;
    }
}
  
/* testy js idk */

.hide {
    display:none;
    opacity:0;
}

.title-snippet {
    box-shadow:0px 4px 11px 7px @body;
    display:block;
    position:fixed;
    top: 5vh;
    transition: all .5s cubic-bezier(0, 0.68, 0.6, 0.8);
    -webkit-transition:   all .5s cubic-bezier(0, 0.68, 0.6, 0.8);
    background-color:white;
    padding:1em;
    opacity:0;
    width:50vw;
}

.is-active {
    background-color:@light;

    .title-snippet {
        transition: all .5s cubic-bezier(0, 0.68, 0.6, 0.8);
        -webkit-transition:   all .5s cubic-bezier(0, 0.68, 0.6, 0.8);
        opacity:1;
        
    }
    img {
        border:@bold .1em solid;
    }

    h3 {
        display:block;
    }
}



/* TYPOGRAPHY */
h1 {
    font-family: @serif;
    color:@bold;
    font-size:1em;
    font-weight:extra-bold;
}

h2 {
    font-family:@serif;
    color:@body;
    font-size:1em;
}

h3 {
    font-family: @serif;
    font-size:.8em;
    font-weight:200;
    color:@mid;
    display:none;
  }

p {
    font-family: @serif;
    font-size:.5em;
  }
  
a {
    color:@highlight;
    text-decoration:none;
    &:hover {
        opacity:0.5;
        transition:ease .5s;
    }
  }

  
.no-image {
    min-height:50vh;
    justify-content: flex-end;
    width:100%;
    max-width:500px;

    &.is-active {
        border:@bold solid .1em;
    }
}

.image {
    height:100vh;
    justify-content: center;
}

