<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>   

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">

    
</head>

<body>
    <nav> 
        <ul>
        <li><a href="/probably">probably</a></li>
        <li><a href="/maybe"> maybe </a></li>
        <li><a href="/perhaps"> perhaps </a></li>
        <li><a href="/"> what? </a> </li>
        <li class="me">An experiment by <a href="https://twitter.com/pauliebe">me.</a> </li>
        </ul> 

    </nav>
    {% block content %}{% endblock %}
    {% block JS %}{% endblock %}
</body>


</html>