<!DOCTYPE html>
<html lang="en">
<head>
    <title>probably, maybe, perhaps</title>
    <!--meta-tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta property="og:title" content="probably, maybe, perhaps">
    <meta property="og:description" content="a digital shoebox">

    <link rel="shortcut icon" href="{{ base_url }}static/img/favicon.ico">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/style.css"/>

</head>

<body>
    <nav> 
        <ul>
        <li><a href="{{ base_url }}probably">probably</a></li>
        <li><a href="{{ base_url }}maybe"> maybe </a></li>
        <li><a href="{{ base_url }}perhaps"> perhaps </a></li>
        <li><a href="{{ base_url }}"> what? </a> </li>
        <li class="me">An experiment by <a href="https://twitter.com/pauliebe">me.</a> </li>
        </ul> 

    </nav>
    {% block content %}{% endblock %}
    {% block JS %}{% endblock %}
</body>


</html>