<header class="flex-container top">
    <h1>{{ preposition }} in the Library of Congress</h1>
	<summary class="intro">
		<h2> There are <span clas="highlight"> {{ count }} </span> 
        items in the Library of Congress' 
        <a href="http://www.loc.gov/pictures/"> 
		Prints and Photographs Online Catalog </a> 
        that have the word <span class="highlight"> "{{ preposition }}" </span> 
        in the title. Some are <span class="highlight"> {{ preposition }} </span>places, 
        some are <span class="highlight"> {{ preposition }} </span>
        certain people. They're all <span class="highlight"> {{ preposition }} </span> mini mysteries. 
        </h2>
	</summary>
</header>