{% extends "_base.html" %}

{% block content %}
{% include "_header.html" %}


<section class="flex-container" id="images">

	{% for key in details if details[key]['img'] %}
		<div class="flex-item image card" id="{{ details[key]['pk'] }}">	
			<h2 class="title-snippet hide" id="{{ details[key]['pk'] }}-snippet"> {{ details[key]['title_snippet'] }} </h2>
			<a href="{{ details[key]['url'] }}">  
				<figure>
					<img src="{{ base_url }}{{ details[key]['img'] }}" alt="{{ details[key]['title'] }}">
				</figure>
			</a>
		</div>
	{% endfor %}
</section>
<section class="flex-container" id="no-images">

	{% for key in details if not details[key]['img'] %}
			<div class="flex-item no-image card" id="{{ details[key]['pk'] }}">
				<h2 class="title-snippet hide" id="{{ details[key]['pk']}}-snippet"> {{ details[key]['title_snippet'] }} </h2>
				<h3 id="{{details[key]['pk']}}-link"> (The rights to this image aren't public, it hasn't been digitized, or it's part of a group of images. But you can see the record at <a href="{{ details[key]['url'] }}"> this link </a> .)</h3>
			</div>
	{% endfor %}
</section>

{% endblock %}

{% block JS %}
	{% include "_js.html" %}
{% endblock %}