{% extends "_base.html" %}

<html>

{% block content %}
	
    {% if error %} 
        <p> {{ error }} </p>
    {% endif %}
    <summary class="flex-container home">
        <p> The Library of Congress is the world's largest library. In it, I found this photo of Michigan. </p>
        <figure > <img src="{{base_url}}static/img/2016816847.jpg"/> </figure>
        <p>
        Well, it's probably Michigan, according to <a href="http://www.loc.gov/pictures/item/2016816847/">the title.</a> I like this picture 
        and title combination because it feels like something you would pull out of an old shoebox full of photos, which is not what you generally go to 
        a library for. This is an experimental Library of Congress shoebox, filled with pictures that have 
        <a href="{{ base_url }}probably"> probably,</a> <a href="{{ base_url }}maybe"> maybe,</a> or <a href="{{ base_url }}perhaps">perhaps</a> in the title.
        </p>
        <p> I made this as part of the <a href="https://chipymentor.org/">ChiPy mentorship program </a></p>
    </summary>

{% endblock%}
</html>