{% extends "_base.html" %}

<html>

{% block content %}
	
    {% if error %} 
        <p> {{ error }} </p>
    {% endif %}
    <summary class="flex-container home">
        <p> The Library of Congress is the world's largest library. In it, I found this photo of Michigan. </p>
        <figure > <img src="{{pre}}/static/img/2016816847.jpg"/> </figure>
        <p>
        Well, it's probably Michigan, according to the title. I like this picture because it feels like something
        you would pull out of a old shoebox full of photos, which is not what you generally go to 
        a library for. This is an experimental Library of Congress shoebox, filled with probablies, maybes and perhapses.
        </p>
        <p> I made this as part of the <a href="https://chipymentor.org/">ChiPy mentorship program </a></p>
    </summary>

{% endblock%}
</html>